<script src="//cdn.webix.com/edge/webix_debug.js"></script>
<link href="//cdn.webix.com/edge/webix.css" rel="stylesheet"/>
<script src="//rawgit.com/webix-hub/webix-firebase/master/codebase/webix-firestore.js"></script>
<script src="//www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>

<script>
  firebase.initializeApp({
    apiKey: "AIzaSyAKcQ2NZFVYbCqEgnU1t6Snf4iXs1mrce8",
    authDomain: "test-firestore-7165a.firebaseapp.com",
    databaseURL: "https://test-firestore-7165a.firebaseio.com",
    projectId: "test-firestore-7165a",
    storageBucket: "test-firestore-7165a.appspot.com",
    messagingSenderId: "335189922985"
  });

  var db = firebase.firestore();
  db.settings({
    timestampsInSnapshots: true
  });
  webix.firestore = db;

  webix.ready(function() {
    webix.ui({
      id: "dtable",
      view: "datatable",
      editable: true,
      autoConfig: true,
      url: "firestore->books",
      save: "firestore->books"
    });
  });
</script>
